---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";

const today = new Date();

const projects = [

{
    id: "movie-project",
    slug: "https://github.com/abernardArtefact/movieProject.git",
    body: "",
    collection: "work",
    data: {
      title: "Movie Project",
      description: "Projet réalisé en React, Tailwind, ChartJS, API tmdb, Vite, Framer Motion",
      publishDate: today,
      tags: ["React", "Tailwind", "Framer Motion", "Vite", "ChartJS"],
      img: "/assets/MovieProject.png",
    },
  },
{
    id: "portfolio-artist",
    slug: "https://github.com/Anne-Flower/CGuillerminPortefolio",
    body: "",
    collection: "work",
    data: {
      title: "Portfolio Artist Project",
      description: "Projet réalisé en React, Tailwind et Framer Motion",
      publishDate: today,
      tags: ["React", "Tailwind", "Framer Motion"],
      img: "/assets/PortfolioCGuillermin.png",
    },
  },
  {
    id: "todo",
    slug: "https://github.com/Anne-Flower/to-do-list/tree/master",
    body: "To do list realized in React and Tailwind",
    collection: "work",
    data: {
      title: "To Do List Project",
      description: "Project realized in React and Tailwind",
      publishDate: today,
      tags: ["react", "tailwind"],
      img: "/assets/ToDoList.png",
    },
  },
  {
    id: "flags",
    slug: "https://github.com/Anne-Flower/ReactFlagApp",
    body: "",
    collection: "work",
    data: {
      title: "React Flags Project",
      description: "Projet réalisé en React et css",
      publishDate: today,
      tags: ["react", "css"],
      img: "/assets/FlagReactImage.png",
    },
  },
  {
    id: "balade",
    slug: "https://github.com/Anne-Flower/baladeTonChien",
    body: "",
    collection: "work",
    data: {
      title: "Balade ton chien Project",
      description: "Projet réalisé en RubyonRails, JS et css",
      publishDate: today,
      tags: ["ruby", "css", "JS"],
      img: "/assets/BaladeTonChien.png",
    },
  },
];
---

<BaseLayout
  title="My Work | Anne-Flore Bernard"
  description="Learn about Anne-Flore Bernard's most recent projects"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="My Work"
        tagline="See my most recent projects below to get an idea of my past experience."
        align="start"
      />
      <Grid variant="offset">
        {
          projects.map((project) => (
            <li>
              <PortfolioPreview project={project} />
            </li>
          ))
        }
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
